{% extends "layout.html" %}

{% block title %}About - SGIC{% endblock %}

{% block content %}
<div class="text-box">

    <div class="text">
        <h1>About College</h1>
        <p><b>श्री गॉधी इण्टर कालेज,ढोटारी,गाजीपुर (उ0प्र0)</b> <br>
            श्री गॉधी इण्टर कालेज,ढोटारी,गाजीपुर (उ0प्र0) शिक्षा को प्रगति पथ पर ले जाता 1952 में स्थापित
            गाजीपुर जनपद का ख्याति प्राप्त विद्यालय है। हमारी योग्य व अनुभवी शिक्षिकाओं के निर्देशन में छात्राएं
            विविध क्षेत्रों शिक्षा ,कला, खेलकूद संगीत विज्ञान मंच में अपनी योग्यता का प्रदर्शन कर रही हैं। हम
            प्रत्येक छात्रा को खुद को समझने और खोजने के लिए पर्याप्त अवसर प्रदान करते हैं एवं उनके सामने
            प्रस्तुत चुनौतियों का सामना करने एवं उन्हें दूर करने का प्रयास करते हैं। विद्यालय का वातावरण
            छात्राओं में समझ एवं स्वतंत्र चिंतन विकसित करता है तथा नारी सशक्तिकरण को बढ़ावा देता है। कठिन
            परिश्रम एवं अनुशासन हमारा मूल मंत्र है।

            विद्यालय का उद्देश्य छात्रों की एक ऐसी सुसंस्कृत मालिका का निर्माण करना है जो पाश्चातय प्रभाव से दूर
            रहकर भारतीय संस्कृति की गरिमामयी अनुभूति के वातावरण में अपने व्यक्तित्व के सभी पक्षों (शारीरिक,
            मानसिक, नैतिक, आध्यात्मिक एवं सामाजिक) का विकास कर सके, पाश्चातय दुष्प्रभावों से दूर रहकर नवीनतम
            वैज्ञानिक द्रष्टिकोण का सृजन कर सके एवं वर्तमान की चुनौतियों का सामना करने हेतु भविष्य के प्रति
            दूरदर्शिता का परिचय देते हुए आत्मिक विकास कर सके तथा अपने देश की सांस्कृतिक समरसता में पोषित होकर
            स्वराष्ट्र प्रेम एवं स्वावलम्बन की भावनाओं का विकास कर सके |</p>
    </div>
    <div class="photo">
        <img src="{{ url_for('static', filename='./Images/image4.jpg') }}" alt="College Image">
    </div>
</div>

    <h1>{{ joke }}</h1>
{% endblock %}