.map{
    height: fit-content;
    margin: 50px 20px 50px 20px;
    border-radius: 10px;
    object-fit: contain;
}

.real-map{
    height: 60vh;
    width:100%;
}


.address-container{
    /* background-color: rgba(137, 43, 226, 0.4); */
    /* margin: 30px auto ; */
    /* height: 70vh; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.address-container .address{
    height: auto;
    width: 80vw;
    padding: 30px;
    border-top: 2px solid rgba(0, 0, 0, 0.183);
    margin-bottom: 10px;
}
.address-container .email{
    height: auto;
    width: 80vw;
    padding: 30px;
    border-top: 2px solid  rgba(0, 0, 0, 0.183);
    margin-bottom: 10px;
}
.address-container .phone{
    height: auto;
    width: 80vw;
    padding: 30px;
    border-top: 2px solid  rgba(0, 0, 0, 0.183);
    margin-bottom: 10px;
}
.address-container .website{
    height: auto;
    width: 80vw;
    padding: 30px;
    border-top: 2px solid  rgba(0, 0, 0, 0.183);
    border-bottom: 2px solid  rgba(0, 0, 0, 0.183);
    margin-bottom: 10px;
    
}
