.second .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 2px;
}

.second .head p {
    font-size: 18pt;
}

.second .head .image img {
    max-height: 50px;
    max-width: 50px;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;


}

p {
    font-size: 20pt;
}

.content-section {
    width: 50%;
    margin: 0 auto;
}


.account-img {
    max-height: 100px;
    max-width: 100px;
    min-height: 100px;
    min-width: 100px;
    border-radius: 100%;
    margin: 0 40%;
}

.form-group {
    /* border: 2px solid black; */
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.label{
    margin: 0 110px;
    font-size: 14pt;
}

.form-group .input{
    height: 40px;
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    font-size: 11pt;
    background-color: rgba(230, 212, 212, 0.452);
    border: 1px solid black;
}

.form-group .btn{
    height: 40px;
    width: 100px;
    margin: 0 auto;
    font-size: 14pt;
    background-color: rgb(82, 170, 243);
    border: 1px solid black;
    border-radius: 10px;
}